<md-sidenav class="csc_sidenav md-sidenav-left md-whiteframe-z5" 
            md-component-id="left" 
            md-is-locked-open="$mdMedia('gt-xs')">
   <md-toolbar class="csc_toolbar" layout-align="center center">
      <h3>C.S.C.</h3>
   </md-toolbar>  
   <md-content class="csc_sideContent">
      <md-list>
         <md-list-item>
            <a ng-click="vm.selectedMenu('modulos')">
               <ng-md-icon icon="now_widgets" class="md-whiteframe-3dp sidenav_icon"></ng-md-icon>
               Modulos
            </a>
         </md-list-item>
         <md-list-item>
            <a ng-click="vm.selectedMenu('agenda')" ng-class="{'selected' : it === vm.selected }">
               <ng-md-icon icon="date_range" class="md-whiteframe-3dp sidenav_icon"></ng-md-icon>
               Agenda
            </a>
         </md-list-item>
         <md-list-item>
            <a ng-click="vm.selectedMenu('bitacoras')" ng-class="{'selected' : it === vm.selected }">
               <ng-md-icon icon="my_library_books" class="md-whiteframe-3dp sidenav_icon"></ng-md-icon>
               Bitacoras
            </a>
         </md-list-item>
         <md-list-item>
            <a ng-click="vm.selectedMenu('dialogos')" ng-class="{'selected' : it === vm.selected }">
               <ng-md-icon icon="chat" class="md-whiteframe-3dp sidenav_icon"></ng-md-icon>
               Dialogos
            </a>
         </md-list-item>
         <md-list-item>
            <a ng-click="vm.selectedMenu('huespedes')" ng-class="{'selected' : it === vm.selected }">
               <ng-md-icon icon="hotel" class="md-whiteframe-3dp sidenav_icon"></ng-md-icon>
               Huespedes
            </a>
         </md-list-item>
         <md-list-item>
            <a ng-click="vm.selectedMenu('contactos')" ng-class="{'selected' : it === vm.selected }">
               <ng-md-icon icon="group" class="md-whiteframe-3dp sidenav_icon"></ng-md-icon>
               Contactos
            </a>
         </md-list-item>  
         <md-list-item>
            <a ng-click="vm.cerrarSesion()" ng-class="{'selected' : it === vm.selected }">
               <ng-md-icon icon="logout" class="md-whiteframe-3dp sidenav_icon"></ng-md-icon>
               Salir
            </a>
         </md-list-item>          
      </md-list>
   </md-content>
</md-sidenav>
